br
hr
footer
  nav
    a(href="/") home
    |  - 
    a(href="/library") library
    |  - 
    a(href="/blog") blog
    |  - 
    a(href="/rss") rss
  a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/")
    img(style="margin-top: 10px;" src="/pictures/cc.png")
