br
hr
if getUrl().path === '/'
  footer
    div(class="buttons")
      a(href="https://burypink.neocities.org")
        img(src="/pictures/buttons/burypink.png")
      a(href="http://unicornjelly.com/index.html")
        img(src="/pictures/buttons/unicornjelly.gif")
      a(href="https://districts.neocities.org/tokyo")
        img(src="/pictures/buttons/tokyo.png")
      a(href="https://wiby.me")
        img(src="/pictures/buttons/wiby.gif")
    div
      a(href="https://itazuraneko.neocities.org")
        img(src="/pictures/buttons/hanko.png")

