br
hr
footer
  div
    a(href="https://lapetite.moe")
      img(style="display: inline-block; margin: auto;" src="/pictures/buttons/lapetitemoe.gif")
    a(href="https://wiby.me")
      img(style="display: inline-block;" src="/pictures/buttons/wiby.gif")
  a(href="https://nikotile.xyz/") main
  |  - 
  a(href="https://mirror.nikotile.xyz/") mirror
  |  - 
  a(href="http://wcn62ebohmmfvyyhmnwbnpjbfyrmalwzmnqjc7kdi74p3cyln36xwzid.onion/") tor

  div: a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/")
    img(style="margin-top: 10px;" src="/pictures/cc.png")
