<footer>
  <nav>
    <a href="/">home</a>
    |
    <a href="/blog">blog</a>
    |
    <a href="/donate">donate</a>
    |
    <a href="mailto:<%= locals.meta.email %>">email</a>
  </nav>
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img style="margin-top: 10px;" src="/pictures/cc.png"></a>
</footer>
