nav(class='header')
  div
    img(src='/pictures/kira.png' style='margin-bottom: 10px; display: block; margin-left: auto; margin-right: auto; width: 10%;')
  a(href="/") home
  |  - 
  a(href="/now") now
  |  - 
  a(href="/library") library
  |  - 
  a(href="/blog") blog
  |  - 
  a(href="/rss") rss
