body {
    font-family: Verdana, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
    padding: 0 20px 0 20px;
    max-width: 720px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
    background-color: #dddddd;
    color: #2f3136;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 1px solid #999;
    color: #ccc;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
    color:#808080;
}

a {
  text-decoration: none;
  color: #9e53a7;
}

a:hover {
  text-decoration: none;
  background-color: #f3f3f3;
}

.box {
  text-align: center;
}

.content {
  margin: 42px auto;
  padding: 0 20px 0 20px;
}

.blog {
  margin: 42px auto;
  padding: 0 20px 0 20px;
  text-align: left;
}

div.entry {
    padding-bottom: 60px;
}

ul {
   list-style-type: none;
   padding: unset;
}

ul li {
   display: flex;
   padding: 2px;
}

ul li a:visited {
   color: #8b6fcb;
}
