body {
  line-height: 1.4;
  font-size: 11pt;
  background-color: #0c0c0c;
  color: #e0e0e0;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 1em auto;
  width: 550px;
  padding-top: 10px;
}

main {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #d8d88a;
}

a:hover {
  text-decoration: none;
  color: #d88abd;
}

.box {
  text-align: center;
}

.content {
  margin: 42px auto;
  padding: 0 20px 0 20px;
}
