doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@nikotile")
    meta(property="og:url" content=getUrl().url)
    meta(property="og:site_name" content="Nikotile")
    meta(property="og:title" content="Nikotile")
    meta(property="og:type" content="website")
    meta(property="og:description" content="The homepage of Nikotile.")
    meta(property="og:image" content="https://nikotile.xyz/pictures/alticon.png")
    if title
      title #{title}
    else
      title #{locals.meta.title}
    link(rel="shortcut icon" href="/pictures/favicon.png")
    link(rel="stylesheet" href="/style.css")
  body
    include ../includes/header
    block content
    include ../includes/footer
