doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title  #{title}
    link(rel="stylesheet" href="/style.css")
  body
    header
      div.box
        h1 Niko's Site
        a(style="text-align:center;")
          img(src="https://i.imgur.com/D7hlBh1.jpeg")
        p Yet another line
    main
      div.content
        p(style="font-weight:bold;") Selamat poggers,
        p This is a test website. Please visit my other stuff.
      div.content
        p
          a(href="https://wiki.nikotile.xyz") NikoWiki
        p
          a(href="https://www.wibuparadoks.com") Wibu Paradoks
        p
          a(href="https://youtube.com/nikotile") YouTube
        p
          a(href="https://twitter.com/nikotile") Twitter
    footer
      div.box
        p Nikotile 2021
