doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title  #{title}
    link(rel="stylesheet" href="/style.css")
  body
    header
      p Nikotile
    h1  Niko's Website 
    div    
      p This is a test website. Please visit my other projects.
      a(href='https://wiki.nikotile.xyz') Nikotile Wiki 
