AddDescription "Sosmed Cringe" "sosmed-cringe.html" #Fri, 10 Sep 2021 16:44:13 +0700
AddDescription "Menggunakan Pleroma" "menggunakan-pleroma.html"
AddDescription "Struggle to Seize a Meaning (featuring Vtuber)" "struggle-to-seize-a-meaning-featuring-vtuber.html" #Mon, 04 Oct 2021 23:12:17 +0700
