<div>
  <h1>Blog Items</h1>
  <ul>
    <% for (let i = 0; i < entries.length; i++) { %>
      <li class="list-group-item">
        <div>
        <small><%= getDate(entries[i].date, 'dd LLL y') %></small>
        <a href="/blog/<%= encodeURI(entries[i].title.replace(/\s/g , '-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'')).toLowerCase() %>"><%= entries[i].title %></a>
        </div>
      </li>
    <% }; %>
  </ul>
</div>
