<h1>Contact</h1>
<h3>Email:</h3>
<ul class="no-bullet">
  <li><a href="mailto:<%= locals.meta.email %>"><%= locals.meta.email %></a></li>
</ul>
<h3>Public key:</h3>
<p><a href="/nikotile.asc">Get it here</a>, or run:</p>
<ul class="no-bullet">
  <li><code>curl https://nikotile.xyz/nikotile.asc | gpg --import</code></li>
</ul>
<p>Fingerprint</p>
<ul class="no-bullet">
  <li><code> B231 C961 E799 5203 B259  3D0E E25D 805B 8603 7F89</code></li>
</ul>
<h3>Other:</h3>
<p>I'm on Twitter (@nikotile) and Pleroma (<a href="https://pl.nikotile.xyz/niko">@niko@pl.nikotile.xyz</a>) if you want to use those for some reason.</p>
