<div>
  <h1>Donate</h1>
  <p>Thank you for leaving a donation!</p>
  <p>Bitcoin (BTC): <input type="text" value="bc1qq84cfjvsvwpa56zq0fptu37qvxmhvua6hdzjl3" readonly></p>
  <p>Monero (XMR): <input type="text" value="432T3TM8cMohaqVCAX9b2vN13ZGAR82JRAtKi1qGbYBK3jk3drJA8uja85RbDd74unFCjTEiVWnLULxvkaoCuHHLRLQW9WK" readonly></p>
  <p>If you're an Indon for some reason: <a href="https://trakteer.id/nikotile">Trakteer</a>
</div>
