extends ../layouts/pages

block content
  div
    p(style='text-align:center;') I will Starlight you.
    p My name is Nikotile. I'm a weeb and interested in literature, media, culture, and some Lacanian psychoanalysis.
    p こんにちは、ニコティレです。母語は日本語ではないので変な日本語を見つけたら、すみません。まだ勉強中です。

    h3 Recent updates
    ul
      each entry in entries
        li: div
          small #{entry.date.substring(0, 10)}
          |
          |
          a(href='/blog/' + encodeURI(entry.title.replace(/\s/g , '-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'').toLowerCase())) #{entry.title}

    h3 Info
    table
      tr: th email
        td: a(href="mailto:niko@nikotile.xyz")  niko@nikotile.xyz
      tr: th fedi
        td 
          a(href="https://pl.nikotile.xyz/niko")  @niko@pl.nikotile.xyz
      tr: th pgp key
        td: a(href="/nikotile.asc")  /nikotile.asc

    h3 For generous people
    table
      tr: th BTC
        td: input(type="text" value="bc1qq84cfjvsvwpa56zq0fptu37qvxmhvua6hdzjl3" readonly)
      tr: th XMR
        td: input(type="text" value="432T3TM8cMohaqVCAX9b2vN13ZGAR82JRAtKi1qGbYBK3jk3drJA8uja85RbDd74unFCjTEiVWnLULxvkaoCuHHLRLQW9WK" readonly)
    p If you're an Indon for some reason: #[a(href="https://trakteer.id/nikotile/tip") Trakteer]
