extends ../layouts/pages

block content
  div
    img(src='/pictures/kira.png' style='display: block; margin-left: auto; margin-right: auto; width: 10%;')
    p(style='text-align:center;') I will Starlight you.
    p My name is Nikotile. I'm a weeb and interested in literature, media, culture, and some Lacanian psychoanalysis.

    h3 Go to
    table
      tr: th: a(href="/library") /library
        td Collection of what I do.
      tr: th: a(href="/blog") /blog
        td Blog entries and updates.
      tr: th: a(href="/rss") /rss
        td RSS feed version of the blog.

    h3 Recent updates
    ul
      each entry in entries
        li: div
          small #{entry.date.substring(0, 10)}
          |
          |
          a(href='/blog/' + encodeURI(entry.title.replace(/\s/g , '-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'').toLowerCase())) #{entry.title}

    h3 Contact
    table
      tr: th email
        td: a(href="mailto:niko@nikotile.xyz")  niko@nikotile.xyz
      tr: th fedi
        td 
          a(href="https://pl.nikotile.xyz/niko")  @niko@pl.nikotile.xyz
      tr: th public key
        td: a(href="/nikotile.asc")  /nikotile.asc

    h3 For generous people
    table
      tr: th BTC
        td: input(type="text" value="bc1qq84cfjvsvwpa56zq0fptu37qvxmhvua6hdzjl3" readonly)
      tr: th XMR
        td: input(type="text" value="432T3TM8cMohaqVCAX9b2vN13ZGAR82JRAtKi1qGbYBK3jk3drJA8uja85RbDd74unFCjTEiVWnLULxvkaoCuHHLRLQW9WK" readonly)
    p If you're an Indon for some reason: #[a(href="https://trakteer.id/nikotile") Trakteer]
