<h1>Nikotile</h1>
<p>Hello, Nikotile here! I like literature, media, culture, and some Lacanian psychoanalysis. You may find me rambling about those stuff there and there.</p>

<%- include('../includes/sns') %>

<div>
  <div>
    <h3>Recent updates:</h3>
  </div>
  <ul>
    <% for (let i = 0; i < 4; i++) { %>
    <li class="list-group-item">
      <div>
        <small><%= getDate(entries[i].date, 'dd LLL y') %></small>
        <a href="/blog/<%= encodeURI(entries[i].title.replace(/\s/g,'-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'').toLowerCase()) %>"><%= entries[i].title %></a> 
      </div>
    </li>
    <% } %>
  </ul>
</div>
