<div>
  <h1>Library</h1>
  <p>Writings, works, and other nonsense I created.</p>
  <h3>RSS feeds</h3>
  <p>A collection of script-generated RSS feeds from Indonesian otaku/weeb news site. See the script <a href="https://github.com/nikotile/wibu-rss">here</a>.</p>
  <ul>
    <li class="list-group-item">
      <a href="<%= getUrl().url %>rss/kanau.xml">kanau.xml</a>
    </li>
    <li class="list-group-item">
      <a href="<%= getUrl().url %>rss/mediaformasi.xml">mediaformasi.xml</a>
    </li>
    <li class="list-group-item">
      <a href="<%= getUrl().url %>rss/risamedia.xml">risamedia.xml</a>
    </li>
  </ul>
  <p>Not really otaku, but I hope it's hopeful.</p>
  <ul>
    <li class="list-group-item">
      <a href="<%= getUrl().url %>rss/tirto.xml">tirto.xml</a>
    </li>
  </ul>
  <h3>Writings</h3>
  <p>Soon!</p>
</div>
