extends ../layouts/pages
block content
  h1 Library・図書館
  p Not actually a library. Writings, works, and other nonsense I created.
  p 実は図書館ではなく私のボチボチな作品のページです。

  div
    h3 wibu-rss
    p A collection of script-generated RSS feeds from Indonesian otaku/weeb news site. See the script #[a(href='https://github.com/nikotile/wibu-rss') here]. ・ シェルスクリプトから生成されるRSSフィード。
    ul
      li: a(href='/library/rss/kanau.xml') kanau.xml
      li: a(href='/library/rss/mediaformasi.xml') mediaformasi.xml
      li: a(href='/library/rss/risamedia.xml') risamedia.xml
    p Not really otaku, but I hope it's hopeful.
    ul: li: a(href='/library/rss/tirto.xml') tirto.xml

  div
    h3 Writings
    table
      tr: th: a(href='/library/writings/onnani.txt') onnani.txt
        td Supposedly a web novel, but it's a plain text for now. I will render it in LaTeX in the future! ・ なろう系のような物つもりでしたが、しばらく.txtのプレーンテキストだけです。

  div
    p More soon!
