extends ../layouts/pages

block content
  div(style='text-align: center;')
    p consoom・最近の気になる物
  div
    img(src='/pictures/now.png' style='margin-bottom: 10px; display: block; margin-left: auto; margin-right: auto;')
    h3 #{now.title}
    p !{now.description}
  small Last updated #{now.date}
