const user = 'user';
const password = 'password';
const dbName = 'database';

module.exports = {
  dbUri: `mongodb+srv://${user}:${password}@content.wfjp2.mongodb.net/${dbName}?retryWrites=true&w=majority`
};
