html {
	padding: 0px;
	margin: 10px;
}

body {
  font-family: freesans, sans, sans-serif;
	font-size: 17px;
  word-wrap: break-word;
  width: 85%;
  max-width: 950px;
  padding: 25px 30px 20px 30px;
  margin: auto;
  background: linear-gradient(180deg, #d1dfa9 0%, #dddddd 40%) no-repeat fixed;
}

.list-group-item {
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

div > img {
  max-width:500px;
  max-height:350px;
}

h1 { text-align: center; }

p { line-height: 1.75; }

a {
  text-decoration: none;
  color: #9e53a7;
}

a:hover {
  text-decoration: none;
  background-color: #f3f3f3;
}

footer {
  text-align: center;
  margin-top: 20px;
}
